@font-face {
  font-family: 'Early GameBoy';
  src: url('/fonts/Early_GameBoy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Press Start 2P';
  background-color: rgb(36, 36, 36);
}

p {
  font-size: .8rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

.grid-item {
  color: white;
  padding: 1rem;
  height: 15rem;
  border-radius: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-info {
  display: flex;
  align-items: center;
}

.sprite {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

.types-container {
  display: flex;
  justify-content: center;

}

.type-icon {
  width: 100px;
  height: 20px;
  margin: 0 5px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap; /*Allow buttons to go in differents rows*/
  justify-content: center; /*Center buttons horitzontally*/
}

.btn {
  background-color: #5eacff;
  color: black; /*Color text */
  border: none;
  border-radius: 8px;
  padding: 10px 20px; /*Inside space */
  margin: 5px; /*Space between buttons */
  font-size: 16 px;
  cursor: pointer;
  transition: background-color 0.3s;  /*Transition effect in the colour change */
}

.btn:hover, .btn-check{
  background-color:#1157a0;
  color: ghostwhite;
}

.btn.pulsed {
  background-color:#1157a0;
  color: ghostwhite;
  border: none;
  border-radius: 8px;
  padding: 10px 20px; /*Inside space */
  margin: 5px; /*Space between buttons */
  font-size: 16 px;
  cursor: pointer;
  transition: background-color 0.3s;  /*Transition effect in the colour change */
}
